<div id="numericKeyboardContainer">
    <table id="numericKeyboard" style="width:100%; height: 75%;">
        <tr>
            <td id="left"><input type="button" value="1" (click)="insertNumber(1)" class="btn btn-primary" id="numericButton"></td>
            <td id="center"><input type="button" value="2" (click)="insertNumber(2)" class="btn btn-primary" id="numericButton"></td>
            <td id="right"><input type="button" value="3" (click)="insertNumber(3)" class="btn btn-primary" id="numericButton"></td>
        </tr>
        <tr>
            <td id="left"><input type="button" value="4" (click)="insertNumber(4)" class="btn btn-primary" id="numericButton"></td>
            <td id="center"><input type="button" value="5" (click)="insertNumber(5)" class="btn btn-primary" id="numericButton"></td>
            <td id="right"><input type="button" value="6" (click)="insertNumber(6)" class="btn btn-primary" id="numericButton"></td>
        </tr>
        <tr>
            <td id="left"><input type="button" value="7" (click)="insertNumber(7)" class="btn btn-primary" id="numericButton"></td>
            <td id="center"><input type="button" value="8" (click)="insertNumber(8)" class="btn btn-primary" id="numericButton"></td>
            <td id="right"><input type="button" value="9" (click)="insertNumber(9)" class="btn btn-primary" id="numericButton"></td>
        </tr>
    </table>
    <table id="actionKeyboard" style="width:100%; height: 25%;">
        <tr>
            <td id="left"><input type="button" value="Clear" (click)="insertNumber(0)" class="btn btn-primary" id="actionButton"></td>
            <td id="right"><input type="button" value="Cancel" (click)="insertNumber(-1)" class="btn btn-primary" id="actionButton"></td>
        </tr>
    </table>
</div>